/* .list-logo {
  margin-bottom: 2rem;
}
.student-container {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.student-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-basis: 33%;
  border: 1px solid black;
  gap: 2rem;
}

img {
  width: 100%;
} */
